<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <form action="/index"
          method="post">
        <h2>NEA Chatbot Admin Interface</h2>
        <div class="col-sm-4">
            <div class="form-group row">
                <label class="control-label">Username:</label>
                <input type="text" class="form-control" name="username"/>
                
            </div>
            <div class="form-group row">
                <label class="control-label">Password:</label>
                <input type="password" class="form-control" name="password"/>
                
            </div>
            <div class="form-group row">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>



</body>
</html>
